<div class="notification-bar" style="background-color: {{notification_bar_background}}; color: {{notification_bar_textcolor}};">
	<div class="notification-bar__inner">
		{{notification_bar_text}}
		<a class="notification-bar__inner__closebtn" href="#" style="color: {{notification_bar_textcolor}}">Close</a>
	</div>
</div>