<div class="block-blog-recent-posts block-info">
	<h3 class="heading">{{theme_opt.recent_article_heading}}</h3>
	<div class="content-wrapper">			  	
		<ul class="recent-articles-list">
			{% for post in posts %}
				<li>
					<a class="info-readmore" href="{{ function('get_permalink', post.ID)}}">{{post.post_title}}</a>
					<div class="block-info-date">
						<i class="fa fa-calendar" aria-hidden="true"></i><span class="">{{post.post_date|date}}</span>
					</div>
				</li>
			{% endfor %}    
		</ul>
	</div>
</div>