<section class="section-contact-map">
	{% if homepage_map_image %}
		{# <div class="homepage_map_image" style="background-image: url({{homepage_map_image}});"></div> #}
	{% endif %}

	{% if data.contact_form_address_iframe_url %}
		<iframe src="{{data.contact_form_address_iframe_url}}" frameborder="0" style="border:0" allowfullscreen></iframe>
	{% endif %}
</section>