{% extends "layout-page.twig" %}
{% block content %}
<section class="section-blog-single">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="article">
					{{ function( 'apply_filters', 'the_content', post.content ) }}
				</div>

			</div>
		</div>
	</div>
</section>
{% endblock %}
