{% extends "layout-page.twig" %}
{% block content %}

<section class="section-blog-single">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>{{post.post_title}}</h2>
				<div class="infobar">
					<span class="post-info-bar">
						 <span class="">
						      <i class="fa fa-pencil mr5" aria-hidden="true"></i><span class="">{{post.author.name}}</span>
					      </span>
					      <span class="ml10">
					      	  <i class="fa fa-calendar mr5" aria-hidden="true"></i><span class="">{{post.post_date|date}}</span>
					      </span>
					</span>
					<span class="social-info-bar">{% include 'block-blog-social-share.twig' with {'post': post, 'class': ''} %}</span>
				</div>
				<div class="article">
					{{ function( 'apply_filters', 'the_content', post.content ) }}
				</div>

			</div>
		</div>
	</div>
</section>

    
{% endblock %}