.notification-bar {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99999;
    text-align: center;
    background-color: #505050;
    color: #fff;
    font-size: 15px;		
	&__inner {
	    padding: 10px;
		&__closebtn {
		    float: right;
		    color: #fff;
		    text-decoration: underline;
		    font-size: 12px;
		}
	}
	@media screen and (max-width: 550px) {
		&__inner {
			padding: 20px;
		}	
	}
}