.contactForm {
	.heading {
		text-align: center;
		color: #cc3132;
		font-size: 38px;
	}
	input, select, textarea {
		width: 100%;
	    padding: 13px;
		border: 1px solid #dadada;
	    border-radius: 2px;
	    color: #333333;
	  	font-size: 14px;
	  	font-weight: 300;
	    background-color: #fff;
	    &:focus {
	    	outline: none;
	    }
	}

	input[type="checkbox"], input[type="radio"] {
		display: inline-block;
		width: auto;
    	margin-right: 5px;
	}

	input[type=submit] {
		width: auto;
		display: inline-block;
		margin-bottom: 0;
		padding: 12px 50px;
		color: #fff;
		font-size: 18px;
		background-color: #2653a6;
		font-family: 'proxima_nova_ltsemibold';
		&:hover {
			color: #2653a6;
			background-color: #fff;
			border-color: #2653a6;
		}
	}
	.col-md-6, .col-md-12 {
		/*padding: 0 5px;*/
	}
	.note {
		padding-left: 15px;
	}
	textarea {
		height: 70px;
		resize: none;
	}
	select {
		height: 48px;
	}
	a {
		color: #c2151c;
		text-decoration: underline;
	}
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  	color: #333333;
	  	font-size: 13px;
	  	font-weight: 500;
	}
	::-moz-placeholder { /* Firefox 19+ */
	  	color: #333333;
	  	font-size: 13px;
	  	font-weight: 500;
	}
	:-ms-input-placeholder { /* IE 10+ */
	  	color: #333333;
	  	font-size: 13px;
	  	font-weight: 500;
	}
	:-moz-placeholder { /* Firefox 18- */
	  	color: #333333;
	  	font-size: 13px;
	  	font-weight: 500;
	}

	.wpcf7-form-control-wrap {
		display: block;
		margin-bottom: 10px;
	}

	div.wpcf7 {
	    /*padding: 0 10px;*/
	}

	div.wpcf7-validation-errors {
		border: none;
		text-align: center;
		color: red;
	}
	span.wpcf7-not-valid-tip {
		font-size: 12px;
	}
	div.wpcf7-mail-sent-ok {
		border: none;
		text-align: center;
		color: green;
	}

	span.wpcf7-list-item {
		margin: 0;
	}


	&--estimate {
		.row {
			margin-bottom: 20px;
		}

		textarea {
			height: 150px;
		}
	}

	@media screen and (max-width: 767px) {
		.heading {
			font-size: 28px;
		}
		&--estimate {
			.row {
				margin-bottom: 0;
			}
		}		
	}
}