

@font-face {
    font-family: 'proxima_novablack_italic';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_black_italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_black_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_blblack';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_black-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novabold_italic';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_bold_italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_condensedBlkIt';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_condensed_black_italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_condensed_black_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_cn_blblack';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_condensed_black-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_condensed_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_condensedBdIt';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_condensed_bold_italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_condensed_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_cn_rgbold';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_condensed_bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_condensed_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_condensedXBdIt';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_condensed_extrabold_italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_condensed_extrabold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_cn_thextrabold';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_condensed_extrabold-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_condensed_extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_condensedLtIt';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_condensed_light_italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_condensed_light_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_cn_ltlight';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_condensed_light-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_condensed_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_condensedRgIt';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_condensed_regular_italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_condensed_regular_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_cn_rgregular';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_condensed_regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_condensed_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_condensedSBdIt';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_condensed_semibold_italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_condensed_semibold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_cn_ltsemibold';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_condensed_semibold-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_condensed_semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_condensedThIt';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_condensed_thin_italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_condensed_thin_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_cn_ththin';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_condensed_thin-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_condensed_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_extra_condeBlkIt';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_black_italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_black_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_excn_blblack';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_black-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_extra_condenBdIt';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_bold_italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_excn_rgbold';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_extra_condeXBdIt';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_extrabold_italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_extrabold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_excn_thextrabold';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_extrabold-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_extra_condenLtIt';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_light_italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_light_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_excn_ltlight';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_light-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_extra_condenRgIt';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_regular_italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_regular_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_excn_rgregular';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_extra_condeSBdIt';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_semibold_italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_semibold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_excn_ltsemibold';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_semibold-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_extra_condenThIt';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_thin_italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_thin_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_excn_ththin';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_thin-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novaextrabold_italic';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_extrabold_italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_extrabold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_thextrabold';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_extrabold-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novalight_italic';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_light_italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_light_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_ltlight';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_light-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novaregular_italic';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_regular_italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_regular_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novasemibold_italic';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_semibold_italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_semibold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_ltsemibold';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_semibold-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_novathin_italic';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_thin_italic-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_thin_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova_ththin';
    src: url('../assets/fonts/mark_simonson_-_proxima_nova_thin-webfont.woff2') format('woff2'),
         url('../assets/fonts/mark_simonson_-_proxima_nova_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}