footer {
	color: #fff;
	font-size: 12px;
	background-color: #3a3a3a;
	> .inner {
		padding: 25px 0 15px;
		h6 {
			margin-bottom: 15px;
			font-weight: 600;
			text-transform: uppercase;
		}
		li {
			line-height: 27px;
			a, a:focus {
				color: #fff;
			}
			a:hover {
				color: #c20001;
			}
		}
		.address {
			display: inline-block;
			margin-bottom: 10px;
			line-height: 20px;
		}
		.social-icons {
			margin-top: 5px;
			li {
				margin-bottom: 8px;
				a, a:focus {
					color: #fff;
					i {
						width: 30px;
						height: 30px;
						margin-right: 20px;
						font-size: 18px;
						text-align: center;
						line-height: 30px;
						&.fa-facebook {
							background-color: #3b5999;
						}
						&.fa-twitter {
							background-color: #00bbf5;
						}
						&.fa-linkedin {
							background-color: #1385c4;
						}
						&.fa-yelp {
							background-color: #d33f2d;
						}
						&.fa-youtube {
							background-color: #fe0000;
						}
					}
					&:hover {
						i {
							color: #fff;
						}
						span {
							color: #c20001;
						}
					}
				}
			}
		}
		.logo-wrapper {
			margin-bottom: 10px;
			div {
				max-width: 260px;
				width: 100%;
				border-bottom: 1px solid #2e2e2e;
				&.repair-wrapper {
					display: table;
					a {
						display: table-cell;
						img {
							max-width: 135px;
							width: 100%;
						}
						&:first-of-type {
							padding-right: 5px;
						}
						&:last-of-type {
							padding-left: 5px;
							img {
								max-width: 102px;
							}
						}
					}
				}
			}
			img {
				padding: 15px 0;
			}
		}
	}
	@media screen and (max-width: 1199px) {
		> .inner {
			padding: 25px 0;
		}
	}
	@media screen and (max-width: 767px) {
		> .inner {
			padding: 25px 0;
			padding-bottom: 0;
			h6 {
				margin-bottom: 10px;
			}
			ul {
				margin-bottom: 25px;
			}
		}
	}
}
.copyright-wrapper {
	padding: 20px;
	color: #999999;
	font-size: 12px;
	background-color: #222222;
	span {
		/*line-height: 22px;*/
		display: inline-block;
		a {
			color: #999999;
			font-size: 12px;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	img {
		float: right;
		margin-top: 5px;
	}
	@media screen and (max-width: 500px) {
		text-align: center;
		span {
			display: block;
		}
		img {
			float: none;
			margin-top: 10px;
		}
	}
}