.warranty-help-section {
	.inner-wrapper {
		display: table;
		width: 100%;
		height: 200px;
		margin-bottom: 30px;
		background-color: #fafbfb;
		text-align: center;
		font-family: 'proxima_nova_ltsemibold';
		text-transform: uppercase;
		.content {
			display: table-cell;
			vertical-align: middle;
		}
		i {
			font-size: 50px;
			margin-bottom: 15px;
		}
		&:hover {
			background-color: #333333;
			color: #fff;
		}
	}
}
.brand-section {
	border-top: 1px solid #f0f0f0;
	li {
		display: inline-block;
		width: 20%;
		padding: 60px 0;
		float: left;
		text-align: center;
	}
}

.brand_logo_container{
	border-top: 1px solid rgb(239,240,241);
	margin-top: 40px;
	padding-top: 30px;
}

.list-inline{
	text-align: center;
}
.list-inline > li {
	padding: 0 45px;
}

@media screen and (min-width: 992px) and (max-width: 1090px){
	.list-inline > li {
		padding: 0 25px;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px){
	.list-inline > li {
		padding: 0 3px;
	}
}

@media screen and (min-width: 320px) and (max-width: 767px){
	.list-inline > li {
	    padding: 0px 25px 15px 25px;
	}
}