@font-face {
  font-family: 'proxima_novablack_italic';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_black_italic-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_black_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_blblack';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_black-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_novabold_italic';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_bold_italic-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_bold_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_bold-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_condensedBlkIt';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_condensed_black_italic-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_condensed_black_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_cn_blblack';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_condensed_black-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_condensed_black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_condensedBdIt';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_condensed_bold_italic-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_condensed_bold_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_cn_rgbold';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_condensed_bold-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_condensed_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_condensedXBdIt';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_condensed_extrabold_italic-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_condensed_extrabold_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_cn_thextrabold';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_condensed_extrabold-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_condensed_extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_condensedLtIt';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_condensed_light_italic-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_condensed_light_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_cn_ltlight';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_condensed_light-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_condensed_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_condensedRgIt';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_condensed_regular_italic-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_condensed_regular_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_cn_rgregular';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_condensed_regular-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_condensed_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_condensedSBdIt';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_condensed_semibold_italic-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_condensed_semibold_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_cn_ltsemibold';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_condensed_semibold-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_condensed_semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_condensedThIt';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_condensed_thin_italic-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_condensed_thin_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_cn_ththin';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_condensed_thin-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_condensed_thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_extra_condeBlkIt';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_black_italic-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_black_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_excn_blblack';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_black-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_extra_condenBdIt';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_bold_italic-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_bold_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_excn_rgbold';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_bold-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_extra_condeXBdIt';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_extrabold_italic-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_extrabold_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_excn_thextrabold';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_extrabold-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_extra_condenLtIt';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_light_italic-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_light_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_excn_ltlight';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_light-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_extra_condenRgIt';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_regular_italic-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_regular_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_excn_rgregular';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_regular-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_extra_condeSBdIt';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_semibold_italic-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_semibold_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_excn_ltsemibold';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_semibold-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_extra_condenThIt';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_thin_italic-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_thin_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_excn_ththin';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_thin-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_extra_condensed_thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_novaextrabold_italic';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_extrabold_italic-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_extrabold_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_thextrabold';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_extrabold-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_novalight_italic';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_light_italic-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_light_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_ltlight';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_light-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_novaregular_italic';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_regular_italic-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_regular_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_regular-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_novasemibold_italic';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_semibold_italic-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_semibold_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_ltsemibold';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_semibold-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_novathin_italic';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_thin_italic-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_thin_italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proxima_nova_ththin';
  src: url("../assets/fonts/mark_simonson_-_proxima_nova_thin-webfont.woff2") format("woff2"), url("../assets/fonts/mark_simonson_-_proxima_nova_thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
html,
body {
  /*height: 100%;*/ }

body {
  position: relative;
  padding-top: 80px;
  overflow: auto;
  color: #333333;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  background-color: #ffffff;
  -webkit-overflow-scrolling: touch; }
  body.ohidden {
    overflow: hidden; }
  body.is_notification_bar {
    padding-top: 0; }
    body.is_notification_bar header {
      position: static; }
  @media screen and (max-width: 1199px) {
    body {
      padding-top: 0; } }

#main {
  height: 100%;
  position: relative;
  z-index: 10;
  background-color: #ffffff; }

p {
  font-size: 14px; }
  p.italic {
    font-style: italic; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a, a:focus {
  color: #333333;
  text-decoration: none;
  outline: none; }

a:hover {
  color: #c2151c;
  text-decoration: none; }

label {
  font-weight: 300;
  color: #646464; }
  label.error {
    color: red;
    font-size: 12px; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'proxima_nova_rgregular'; }

h1 {
  font-size: 60px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 14px; }

@media screen and (max-width: 767px) {
  h1 {
    font-size: 28px; }

  h2 {
    font-size: 24px; }

  h3 {
    font-size: 20px; } }
.text-blakish {
  color: #333333; }

.text-blue {
  color: #2653a6; }

.trans {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.bg-grey {
  background-color: #f5f5f5; }

.btn,
.btn:link,
.btn:focus,
.btn:visited,
.btn:active {
  padding: 15px 40px;
  font-size: 18px;
  color: #fff;
  outline: 0;
  border-radius: 2px;
  line-height: 100%;
  font-family: 'proxima_nova_ltlight';
  border: 1px solid transparent;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .btn:focus,
  .btn:link:focus,
  .btn:focus:focus,
  .btn:visited:focus,
  .btn:active:focus {
    outline: 0; }

.btn-blue,
.btn-blue:link,
.btn-blue:focus,
.btn-blue:visited,
.btn-blue:active {
  padding: 15px 40px;
  background-color: #2653a6;
  font-family: 'proxima_nova_ltlight';
  font-size: 18px; }
  .btn-blue:hover,
  .btn-blue:link:hover,
  .btn-blue:focus:hover,
  .btn-blue:visited:hover,
  .btn-blue:active:hover {
    color: #2653a6;
    background-color: #fff;
    border-color: #2653a6; }

.btn-tag,
.btn-tag:link,
.btn-tag:focus,
.btn-tag:visited,
.btn-tag:active {
  background-color: #f1f1f1;
  color: #c20001;
  width: auto;
  padding: 15px;
  border-radius: 0px;
  font-size: 15px;
  font-weight: 400;
  margin: 0 5px 10px 0;
  display: inline-block;
  font-family: 'proxima_nova_rgregular'; }

.btn-red,
.btn-red:link,
.btn-red:focus,
.btn-red:visited,
.btn-red:active {
  padding: 15px 40px;
  background-color: #c20001;
  font-family: 'proxima_nova_ltlight';
  font-size: 18px; }
  .btn-red:hover,
  .btn-red:link:hover,
  .btn-red:focus:hover,
  .btn-red:visited:hover,
  .btn-red:active:hover {
    color: #c20001;
    background-color: #fff;
    border-color: #c20001; }

.tool-pagination .pages {
  margin: 20px 0; }
  .tool-pagination .pages li {
    display: inline-block;
    background: #fff;
    padding: 6px 10px;
    margin: 0 0;
    border: 1px solid #eaeaea; }
    .tool-pagination .pages li .current {
      color: red; }

.form-control {
  width: 100%;
  padding: 13px;
  border: 1px solid #dadada;
  border-radius: 2px;
  color: #333333;
  font-size: 14px;
  font-weight: 300;
  background-color: #fff;
  height: 45px; }

.homepage_map_image {
  height: 690px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  @media screen and (max-width: 1199px) {
    .homepage_map_image {
      height: 450px; } }
  @media screen and (max-width: 767px) {
    .homepage_map_image {
      height: 300px; } }

.block-info {
  background: #fff;
  margin-bottom: 30px; }
  .block-info .heading {
    padding: 25px;
    border-bottom: 1px solid #f5f5f5;
    margin: 0;
    font-family: "proxima_nova_ltlight"; }
  .block-info .content-wrapper {
    padding: 15px 25px; }

.section-header-banner {
  background-size: cover;
  background-repeat: no-repeat; }
  .section-header-banner__inner {
    display: table;
    width: 100%;
    min-height: 300px;
    padding: 70px 10px;
    max-width: 1170px;
    margin: 0 auto; }
    .section-header-banner__inner__content {
      display: table-cell;
      vertical-align: middle;
      color: #fff; }
      .section-header-banner__inner__content h1 {
        font-family: 'proxima_nova_rgbold';
        color: #ffffff;
        font-size: 64px; }
      .section-header-banner__inner__content h4 {
        font-family: 'proxima_nova_ltlight';
        color: #ffffff;
        font-size: 64px; }
      .section-header-banner__inner__content .header_description {
        color: #fff; }
        .section-header-banner__inner__content .header_description ul li {
          background: url(../images/check-round.png) no-repeat;
          padding: 7px 30px;
          background-position: 0 12px;
          background-size: 15px;
          font-size: 18px; }
        .section-header-banner__inner__content .header_description a {
          width: auto;
          display: inline-block;
          margin-bottom: 0;
          padding: 15px 30px;
          color: #fff;
          margin-top: 40px;
          font-size: 18px;
          background-color: transparent;
          border: 1px solid #fff;
          font-family: 'proxima_nova_ltsemibold'; }
          .section-header-banner__inner__content .header_description a:hover {
            background-color: #fff;
            color: #333; }
  .section-header-banner--large .section-header-banner__inner__content .article {
    max-width: 600px; }
  .section-header-banner--large .section-header-banner__inner__content h4 {
    font-size: 30px;
    margin-bottom: 30px; }
  .section-header-banner--center .section-header-banner__inner__content {
    text-align: center; }
  @media (max-width: 991px) {
    .section-header-banner__inner__content h1 {
      font-size: 50px; }
    .section-header-banner__inner__content h4 {
      font-size: 28px; }
    .section-header-banner--large .section-header-banner__inner__content h1 {
      font-size: 50px; }
    .section-header-banner--large .section-header-banner__inner__content h4 {
      font-size: 28px; } }
  @media (max-width: 560px) {
    .section-header-banner__inner {
      padding: 30px 15px;
      min-height: 200px; }
      .section-header-banner__inner__content h1 {
        font-size: 30px; }
      .section-header-banner__inner__content h4 {
        font-size: 22px; }
    .section-header-banner--large .section-header-banner__inner__content h1 {
      font-size: 30px; }
    .section-header-banner--large .section-header-banner__inner__content h4 {
      font-size: 22px; }
    .section-header-banner--large .section-header-banner__inner__content .header_description ul li {
      font-size: 14px; }
    .section-header-banner--large .section-header-banner__inner__content .header_description a {
      padding: 15px 20px;
      font-size: 14px; } }

.accordion-container {
  margin: 60px auto; }
  .accordion-container h2 {
    font-size: 25px; }
  .accordion-container .accordion {
    font-family: 'Open Sans', sans-serif; }
    .accordion-container .accordion h3 a {
      color: #333333;
      text-transform: uppercase;
      font-size: 14px;
      font-family: 'Open Sans', sans-serif;
      vertical-align: middle; }
    .accordion-container .accordion h3 a:hover,
    .accordion-container .accordion h3 a:active,
    .accordion-container .accordion h3 a:focus,
    .accordion-container .accordion h3 a {
      border: none;
      outline: none; }
    .accordion-container .accordion .ui-state-default {
      outline: none; }
    .accordion-container .accordion .ui-accordion-content {
      background: #f4f4f4;
      border: none;
      border-top: 2px solid #ecece0; }
    .accordion-container .accordion .ui-state-default:hover,
    .accordion-container .accordion .ui-state-default:active,
    .accordion-container .accordion .ui-state-default:focus,
    .accordion-container .accordion .ui-state-default {
      background: #f4f4f4;
      border: none;
      outline: none;
      margin-top: 7px; }
    .accordion-container .accordion .ui-accordion-header {
      padding: 15px 17px 13px; }
    .accordion-container .accordion .ui-accordion-header .ui-accordion-header-icon {
      right: 13px;
      left: auto;
      background: url(../images/acc-plusicon.png) no-repeat;
      background-size: 24px;
      background-position: center;
      padding: 12px;
      position: absolute; }
    .accordion-container .accordion .ui-state-active .ui-accordion-header-icon {
      background: url(../images/acc-minusicon.png) no-repeat;
      background-size: 24px;
      background-position: center; }
    .accordion-container .accordion .ui-accordion-content {
      color: #3f3f3f;
      font-size: 16px;
      border: none;
      padding: 20px 15px;
      background: none;
      border: 1px solid #f4f4f4; }

.section-contact-info h2 {
  margin-bottom: 20px; }
.section-contact-info .info-wrapper {
  min-height: 70px;
  font-size: 13px; }
  .section-contact-info .info-wrapper i {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    text-align: center;
    color: #fff;
    line-height: 25px;
    border-radius: 50%;
    background-color: #c2151c;
    vertical-align: middle;
    margin-top: 5px;
    font-size: 14px; }
  .section-contact-info .info-wrapper span {
    display: inline-block;
    line-height: 22px;
    vertical-align: middle;
    width: 84%; }
  .section-contact-info .info-wrapper--vtop i {
    vertical-align: top; }

.section-contact-map iframe {
  display: block;
  width: 100%;
  height: 690px;
  pointer-events: none; }

.section-testimonials .testimonials-inner {
  /*background-color: #f5f5f5; */
  padding-top: 70px;
  padding-bottom: 70px; }
  .section-testimonials .testimonials-inner h2 {
    text-align: center;
    font-size: 30px; }
  .section-testimonials .testimonials-inner p {
    text-align: center; }
  .section-testimonials .testimonials-inner .testimonials-p1 {
    text-align: center;
    /*margin-top: 20px;*/
    margin-bottom: 70px; }
  .section-testimonials .testimonials-inner .testimonials-container {
    width: 80%; }
  .section-testimonials .testimonials-inner .testimonials-star-div-row {
    margin-left: 0px; }
    .section-testimonials .testimonials-inner .testimonials-star-div-row img {
      width: auto;
      height: auto;
      display: inline-block; }
  .section-testimonials .testimonials-inner .testimonials-content {
    text-align: left;
    padding: 0px;
    font-weight: 500;
    margin-top: 10px; }
  .section-testimonials .testimonials-inner .testimonials-date {
    text-align: left;
    padding-left: 0px; }
  .section-testimonials .testimonials-inner .testimonials-date > span:first-child {
    font-size: 13px;
    font-weight: 400; }
  .section-testimonials .testimonials-inner .testimonials-date > span:last-child {
    font-size: 12px;
    font-weight: 600; }
@media screen and (max-width: 991px) {
  .section-testimonials .testimonials-star-div {
    margin-bottom: 35px; } }

.equipment-list .block-equipment {
  background-color: #fafbfb;
  height: 200px;
  display: table;
  width: 100%;
  margin-bottom: 20px;
  max-width: 250px;
  margin: 0 auto 20px; }
  .equipment-list .block-equipment > .inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #333333; }
    .equipment-list .block-equipment > .inner .image-box {
      width: 100px;
      height: 100px;
      /*background-color: red;*/
      display: inline-block;
      position: relative; }
      .equipment-list .block-equipment > .inner .image-box .image {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        /*background-color: green;*/
        background-size: contain;
        background-repeat: no-repeat;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
        .equipment-list .block-equipment > .inner .image-box .image.hover {
          /*background-color: red;*/
          opacity: 0; }
  .equipment-list .block-equipment:hover {
    background-color: #333;
    color: #fff; }
    .equipment-list .block-equipment:hover > .inner {
      color: #fff; }
      .equipment-list .block-equipment:hover > .inner .image-box .image {
        opacity: 0; }
        .equipment-list .block-equipment:hover > .inner .image-box .image.hover {
          opacity: 1; }

.section-getestimate {
  background-color: #f5f5f5;
  padding: 35px 0 70px; }
  .section-getestimate ul.getestimate_menus {
    display: inline-block; }
    .section-getestimate ul.getestimate_menus li {
      margin: 0; }
      .section-getestimate ul.getestimate_menus li a {
        color: #c20001;
        border: 1px solid #c20001;
        background-color: #fff;
        border-radius: 0px;
        padding: 12px 20px;
        font-size: 18px; }
      .section-getestimate ul.getestimate_menus li.active a {
        background-color: #c20001;
        color: #fff; }
  .section-getestimate h2 {
    margin-bottom: 0; }
  .section-getestimate .content-wrapper {
    padding: 15px 20px;
    position: relative;
    display: table;
    max-width: 510px;
    margin: 70px auto 0;
    width: 100%;
    background-color: #fff;
    /*background-image: url('../images/arrow_bootom_shape.png'), url('../images/blue_dot_line.png');
    background-repeat: no-repeat no-repeat;
    background-position: bottom center, bottom center;*/ }
    .section-getestimate .content-wrapper .img-wrapper img {
      border-radius: 50%;
      width: 115px;
      height: 115px; }
    .section-getestimate .content-wrapper .text-wrapper {
      display: table-cell;
      padding-left: 20px;
      vertical-align: middle;
      color: #666666; }
      .section-getestimate .content-wrapper .text-wrapper h3 {
        margin: 0;
        font-size: 22px;
        font-family: 'proxima_nova_ltsemibold'; }
      .section-getestimate .content-wrapper .text-wrapper p {
        margin: 0;
        font-size: 22px;
        font-family: 'proxima_nova_ltlight';
        line-height: 22px; }
      .section-getestimate .content-wrapper .text-wrapper .note {
        color: #eb0000;
        font-size: 14px;
        font-family: 'proxima_nova_ltlight'; }
    .section-getestimate .content-wrapper:before {
      content: " ";
      position: absolute;
      bottom: -83px;
      left: 50%;
      width: 5px;
      height: 83px;
      margin-left: -2px;
      background-image: url("../images/blue_dot_line.png");
      background-repeat: no-repeat;
      background-position: bottom center; }
    .section-getestimate .content-wrapper:after {
      content: " ";
      position: absolute;
      bottom: -34px;
      left: 50%;
      width: 77px;
      height: 34px;
      margin-left: -38px;
      background-image: url("../images/arrow_bootom_shape.png");
      background-repeat: no-repeat;
      background-position: bottom center; }
    .section-getestimate .content-wrapper.no_bg:before, .section-getestimate .content-wrapper.no_bg:after {
      content: none; }
    .section-getestimate .content-wrapper.remove_gap {
      margin-top: 1px; }
  .section-getestimate ul.getestimate_bottom_btns {
    display: inline-block; }
    .section-getestimate ul.getestimate_bottom_btns li {
      float: left;
      margin: 0 5px; }
      .section-getestimate ul.getestimate_bottom_btns li a {
        color: #ffffff;
        background-color: #2653a6;
        border: 1px solid #2653a6;
        border-radius: 0px;
        padding: 12px 20px;
        font-size: 18px; }
        .section-getestimate ul.getestimate_bottom_btns li a:hover {
          color: #2653a6;
          background-color: #fff; }
  .section-getestimate .process_image_wrapper {
    padding-bottom: 40px; }
    .section-getestimate .process_image_wrapper img {
      width: auto;
      height: auto;
      max-width: 100%; }
    .section-getestimate .process_image_wrapper .mobile {
      display: none; }
  @media (max-width: 992px) {
    .section-getestimate .process_image_wrapper .desktop {
      display: none; }
    .section-getestimate .process_image_wrapper .mobile {
      display: block; } }
  @media (max-width: 480px) {
    .section-getestimate .content-wrapper {
      padding: 10px; }
      .section-getestimate .content-wrapper .img-wrapper img {
        width: 90px;
        height: 90px; }
      .section-getestimate .content-wrapper .text-wrapper {
        padding-left: 15px; }
        .section-getestimate .content-wrapper .text-wrapper h3 {
          font-size: 17px; }
        .section-getestimate .content-wrapper .text-wrapper p {
          font-size: 17px;
          line-height: 17px; }
        .section-getestimate .content-wrapper .text-wrapper .note {
          font-size: 11px; }
    .section-getestimate ul.getestimate_menus li {
      float: none; }
    .section-getestimate ul.getestimate_bottom_btns li {
      float: none;
      margin: 5px 0; }
      .section-getestimate ul.getestimate_bottom_btns li a {
        width: 200px;
        display: inline-block; } }

.article ul {
  padding-left: 40px;
  list-style: inherit; }

/* Header Interaction Button ---------------- */
.slide-btn-section {
  position: fixed;
  right: 0;
  top: 155px;
  color: #fff;
  font-size: 16px;
  z-index: 58; }
  .slide-btn-section .social-icons {
    text-align: center;
    z-index: 100; }
    .slide-btn-section .social-icons .slide-btn,
    .slide-btn-section .social-icons .slide-btn:active,
    .slide-btn-section .social-icons .slide-btn:focus {
      overflow: hidden;
      display: block;
      width: auto;
      height: 45px;
      line-height: 45px;
      white-space: nowrap;
      background-color: transparent;
      color: #000;
      font-weight: 600;
      text-transform: uppercase;
      /*span .fa {
      	color: #fff;
      }
      span .fa-phone {
      	background-color: #2653a6;
      }
      span .fa-envelope-o {
      	background-color: #3a6cc9;
      }
      span .fa-pencil-square-o {
      	background-color: #c20001;
      }
      span .fa-facebook {
      	background-color: #3b5999;
      }
      span .fa-twitter {
      	background-color: #00bbf5;
      }
      span .fa-yelp {
      	background-color: #da262e;
      }
      span .fa-foursquare {
      	background-color: #f94877;
      }*/
      /*&.icon_facebook:hover {
      	> span > span.text {
      		width: 152px;
      	}
      }
      &.icon_twitter:hover {
      	> span > span.text {
      		width: 152px;
      	}
      }
      &.icon_yelp:hover {
      	> span > span.text {
      		width: 152px;
      	}
      }
      &.icon_foursquare:hover {
      	> span > span.text {
      		width: 152px;
      	}
      }*/ }
      .slide-btn-section .social-icons .slide-btn > span,
      .slide-btn-section .social-icons .slide-btn:active > span,
      .slide-btn-section .social-icons .slide-btn:focus > span {
        /*width: 400px;*/
        float: right;
        display: block;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out; }
      .slide-btn-section .social-icons .slide-btn > span > span.text,
      .slide-btn-section .social-icons .slide-btn:active > span > span.text,
      .slide-btn-section .social-icons .slide-btn:focus > span > span.text {
        width: 0;
        padding: 0;
        float: right;
        line-height: 45px;
        background-color: rgba(255, 255, 255, 0.7);
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out; }
        .slide-btn-section .social-icons .slide-btn > span > span.text.red,
        .slide-btn-section .social-icons .slide-btn:active > span > span.text.red,
        .slide-btn-section .social-icons .slide-btn:focus > span > span.text.red {
          background-color: red; }
        .slide-btn-section .social-icons .slide-btn > span > span.text.green,
        .slide-btn-section .social-icons .slide-btn:active > span > span.text.green,
        .slide-btn-section .social-icons .slide-btn:focus > span > span.text.green {
          background-color: green; }
      .slide-btn-section .social-icons .slide-btn i,
      .slide-btn-section .social-icons .slide-btn:active i,
      .slide-btn-section .social-icons .slide-btn:focus i {
        display: block;
        float: left;
        width: 45px;
        height: 45px;
        font-size: 30px;
        line-height: 45px;
        font-size: 30px;
        background-repeat: no-repeat;
        background-position: center; }
      .slide-btn-section .social-icons .slide-btn.icon_phone i,
      .slide-btn-section .social-icons .slide-btn:active.icon_phone i,
      .slide-btn-section .social-icons .slide-btn:focus.icon_phone i {
        background-image: url("../images/icon-phone.png"); }
      .slide-btn-section .social-icons .slide-btn.icon_email i,
      .slide-btn-section .social-icons .slide-btn:active.icon_email i,
      .slide-btn-section .social-icons .slide-btn:focus.icon_email i {
        background-image: url("../images/icon-email.png"); }
      .slide-btn-section .social-icons .slide-btn.icon_address i,
      .slide-btn-section .social-icons .slide-btn:active.icon_address i,
      .slide-btn-section .social-icons .slide-btn:focus.icon_address i {
        background-image: url("../images/icon-address.png"); }
      .slide-btn-section .social-icons .slide-btn.icon_hours i,
      .slide-btn-section .social-icons .slide-btn:active.icon_hours i,
      .slide-btn-section .social-icons .slide-btn:focus.icon_hours i {
        background-image: url("../images/icon-hours.png"); }
      .slide-btn-section .social-icons .slide-btn.icon_estimate i,
      .slide-btn-section .social-icons .slide-btn:active.icon_estimate i,
      .slide-btn-section .social-icons .slide-btn:focus.icon_estimate i {
        background-image: url("../images/icon-estimate.png"); }
      .slide-btn-section .social-icons .slide-btn:hover,
      .slide-btn-section .social-icons .slide-btn:active:hover,
      .slide-btn-section .social-icons .slide-btn:focus:hover {
        color: #000;
        /*background-color: rgba(255, 255, 255, 0.7);*/ }
        .slide-btn-section .social-icons .slide-btn:hover > span > span.text,
        .slide-btn-section .social-icons .slide-btn:active:hover > span > span.text,
        .slide-btn-section .social-icons .slide-btn:focus:hover > span > span.text {
          width: 120px;
          padding: 0 25px 0 15px; }
      .slide-btn-section .social-icons .slide-btn.icon_phone:hover > span > span.text,
      .slide-btn-section .social-icons .slide-btn:active.icon_phone:hover > span > span.text,
      .slide-btn-section .social-icons .slide-btn:focus.icon_phone:hover > span > span.text {
        width: 152px; }
      .slide-btn-section .social-icons .slide-btn.icon_email:hover > span > span.text,
      .slide-btn-section .social-icons .slide-btn:active.icon_email:hover > span > span.text,
      .slide-btn-section .social-icons .slide-btn:focus.icon_email:hover > span > span.text {
        width: 255px; }
      .slide-btn-section .social-icons .slide-btn.icon_address:hover > span > span.text,
      .slide-btn-section .social-icons .slide-btn:active.icon_address:hover > span > span.text,
      .slide-btn-section .social-icons .slide-btn:focus.icon_address:hover > span > span.text {
        width: 320px; }
      .slide-btn-section .social-icons .slide-btn.icon_hours:hover > span > span.text,
      .slide-btn-section .social-icons .slide-btn:active.icon_hours:hover > span > span.text,
      .slide-btn-section .social-icons .slide-btn:focus.icon_hours:hover > span > span.text {
        width: 190px; }

@media screen and (max-width: 1199px) {
  .slide-btn-section {
    display: none; } }
/* Nav Css -----------------*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 11;
  background-color: #fff;
  border-bottom: 1px solid #eaeaea;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  header nav .nav-inner {
    display: table;
    width: 100%;
    height: 80px; }
    header nav .nav-inner .site-logo {
      display: table-cell;
      vertical-align: middle; }
    header nav .nav-inner .nav-menu {
      display: table-cell;
      vertical-align: middle;
      float: right; }
      header nav .nav-inner .nav-menu > li {
        position: relative;
        float: left;
        padding: 0 24px;
        padding-bottom: 16px; }
        header nav .nav-inner .nav-menu > li:last-child {
          padding: 0 10px 0 17px; }
        header nav .nav-inner .nav-menu > li a {
          padding: 30px 0 10px;
          display: inline-block;
          color: #333333;
          font-size: 14px;
          border-bottom: 3px solid transparent;
          text-transform: uppercase;
          text-decoration: none;
          font-family: 'proxima_nova_ltsemibold'; }
        header nav .nav-inner .nav-menu > li a:hover, header nav .nav-inner .nav-menu > li.current-menu-item a {
          color: #c20001;
          border-bottom: 3px solid #c20001; }
        header nav .nav-inner .nav-menu > li .sub-menu {
          display: none;
          position: absolute;
          top: 100%;
          background-color: #fff; }
          header nav .nav-inner .nav-menu > li .sub-menu li {
            padding: 0;
            float: none;
            white-space: nowrap; }
            header nav .nav-inner .nav-menu > li .sub-menu li a {
              display: block;
              padding: 12px 15px;
              font-size: 12px;
              color: #333333;
              border-bottom: 1px solid #c20001; }
              header nav .nav-inner .nav-menu > li .sub-menu li a:hover {
                color: #fff;
                background-color: #c20001; }
            header nav .nav-inner .nav-menu > li .sub-menu li:last-of-type a {
              border-bottom: none; }
        header nav .nav-inner .nav-menu > li:hover {
          /*background: url('../images/icons/red-line.jpg') no-repeat bottom 15px center;*/ }
          header nav .nav-inner .nav-menu > li:hover a, header nav .nav-inner .nav-menu > li:hover.current-menu-item a {
            color: #c20001; }
          header nav .nav-inner .nav-menu > li:hover .sub-menu {
            display: block; }
            header nav .nav-inner .nav-menu > li:hover .sub-menu li a, header nav .nav-inner .nav-menu > li:hover .sub-menu li.current-menu-item a {
              color: #333333; }
              header nav .nav-inner .nav-menu > li:hover .sub-menu li a:hover, header nav .nav-inner .nav-menu > li:hover .sub-menu li.current-menu-item a:hover {
                color: #fff; }
    header nav .nav-inner .menubtn-mobile {
      position: relative;
      padding: 0 86px 0 20px;
      float: right;
      height: 100%;
      line-height: 86px;
      color: #fff;
      background-color: #c20001;
      font-weight: bold; }
    header nav .nav-inner #nav-toggle span {
      position: absolute;
      top: 26px;
      right: 0px;
      width: 34px;
      height: 28px;
      background: url("../images/icons/hamburger-menu.png") no-repeat;
      background: url("../images/icons/hamburger-menu.svg") no-repeat;
      background-position: center;
      background-size: 30px; }
  @media screen and (min-width: 1200px) and (max-width: 1305px) {
    header nav .nav-logo {
      width: 312px; } }
  @media screen and (max-width: 767px) {
    header nav .nav-inner {
      height: 70px; }
      header nav .nav-inner .menubtn-mobile {
        padding: 0 27px; }
      header nav .nav-inner #nav-toggle span {
        top: 25px;
        width: 28px;
        height: 20px;
        background-size: 24px; } }
  @media screen and (max-width: 450px) {
    header nav .nav-inner img {
      max-width: 200px; } }
  @media screen and (max-width: 1199px) {
    header {
      position: static; } }
  @media screen and (max-width: 767px) {
    header {
      height: 70px; } }

footer {
  color: #fff;
  font-size: 12px;
  background-color: #3a3a3a; }
  footer > .inner {
    padding: 25px 0 15px; }
    footer > .inner h6 {
      margin-bottom: 15px;
      font-weight: 600;
      text-transform: uppercase; }
    footer > .inner li {
      line-height: 27px; }
      footer > .inner li a, footer > .inner li a:focus {
        color: #fff; }
      footer > .inner li a:hover {
        color: #c20001; }
    footer > .inner .address {
      display: inline-block;
      margin-bottom: 10px;
      line-height: 20px; }
    footer > .inner .social-icons {
      margin-top: 5px; }
      footer > .inner .social-icons li {
        margin-bottom: 8px; }
        footer > .inner .social-icons li a, footer > .inner .social-icons li a:focus {
          color: #fff; }
          footer > .inner .social-icons li a i, footer > .inner .social-icons li a:focus i {
            width: 30px;
            height: 30px;
            margin-right: 20px;
            font-size: 18px;
            text-align: center;
            line-height: 30px; }
            footer > .inner .social-icons li a i.fa-facebook, footer > .inner .social-icons li a:focus i.fa-facebook {
              background-color: #3b5999; }
            footer > .inner .social-icons li a i.fa-twitter, footer > .inner .social-icons li a:focus i.fa-twitter {
              background-color: #00bbf5; }
            footer > .inner .social-icons li a i.fa-linkedin, footer > .inner .social-icons li a:focus i.fa-linkedin {
              background-color: #1385c4; }
            footer > .inner .social-icons li a i.fa-yelp, footer > .inner .social-icons li a:focus i.fa-yelp {
              background-color: #d33f2d; }
            footer > .inner .social-icons li a i.fa-youtube, footer > .inner .social-icons li a:focus i.fa-youtube {
              background-color: #fe0000; }
          footer > .inner .social-icons li a:hover i, footer > .inner .social-icons li a:focus:hover i {
            color: #fff; }
          footer > .inner .social-icons li a:hover span, footer > .inner .social-icons li a:focus:hover span {
            color: #c20001; }
    footer > .inner .logo-wrapper {
      margin-bottom: 10px; }
      footer > .inner .logo-wrapper div {
        max-width: 260px;
        width: 100%;
        border-bottom: 1px solid #2e2e2e; }
        footer > .inner .logo-wrapper div.repair-wrapper {
          display: table; }
          footer > .inner .logo-wrapper div.repair-wrapper a {
            display: table-cell; }
            footer > .inner .logo-wrapper div.repair-wrapper a img {
              max-width: 135px;
              width: 100%; }
            footer > .inner .logo-wrapper div.repair-wrapper a:first-of-type {
              padding-right: 5px; }
            footer > .inner .logo-wrapper div.repair-wrapper a:last-of-type {
              padding-left: 5px; }
              footer > .inner .logo-wrapper div.repair-wrapper a:last-of-type img {
                max-width: 102px; }
      footer > .inner .logo-wrapper img {
        padding: 15px 0; }
  @media screen and (max-width: 1199px) {
    footer > .inner {
      padding: 25px 0; } }
  @media screen and (max-width: 767px) {
    footer > .inner {
      padding: 25px 0;
      padding-bottom: 0; }
      footer > .inner h6 {
        margin-bottom: 10px; }
      footer > .inner ul {
        margin-bottom: 25px; } }

.copyright-wrapper {
  padding: 20px;
  color: #999999;
  font-size: 12px;
  background-color: #222222; }
  .copyright-wrapper span {
    /*line-height: 22px;*/
    display: inline-block; }
    .copyright-wrapper span a {
      color: #999999;
      font-size: 12px; }
      .copyright-wrapper span a:hover {
        text-decoration: underline; }
  .copyright-wrapper img {
    float: right;
    margin-top: 5px; }
  @media screen and (max-width: 500px) {
    .copyright-wrapper {
      text-align: center; }
      .copyright-wrapper span {
        display: block; }
      .copyright-wrapper img {
        float: none;
        margin-top: 10px; } }

.contactForm .heading {
  text-align: center;
  color: #cc3132;
  font-size: 38px; }
.contactForm input, .contactForm select, .contactForm textarea {
  width: 100%;
  padding: 13px;
  border: 1px solid #dadada;
  border-radius: 2px;
  color: #333333;
  font-size: 14px;
  font-weight: 300;
  background-color: #fff; }
  .contactForm input:focus, .contactForm select:focus, .contactForm textarea:focus {
    outline: none; }
.contactForm input[type="checkbox"], .contactForm input[type="radio"] {
  display: inline-block;
  width: auto;
  margin-right: 5px; }
.contactForm input[type=submit] {
  width: auto;
  display: inline-block;
  margin-bottom: 0;
  padding: 12px 50px;
  color: #fff;
  font-size: 18px;
  background-color: #2653a6;
  font-family: 'proxima_nova_ltsemibold'; }
  .contactForm input[type=submit]:hover {
    color: #2653a6;
    background-color: #fff;
    border-color: #2653a6; }
.contactForm .col-md-6, .contactForm .col-md-12 {
  /*padding: 0 5px;*/ }
.contactForm .note {
  padding-left: 15px; }
.contactForm textarea {
  height: 70px;
  resize: none; }
.contactForm select {
  height: 48px; }
.contactForm a {
  color: #c2151c;
  text-decoration: underline; }
.contactForm ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #333333;
  font-size: 13px;
  font-weight: 500; }
.contactForm ::-moz-placeholder {
  /* Firefox 19+ */
  color: #333333;
  font-size: 13px;
  font-weight: 500; }
.contactForm :-ms-input-placeholder {
  /* IE 10+ */
  color: #333333;
  font-size: 13px;
  font-weight: 500; }
.contactForm :-moz-placeholder {
  /* Firefox 18- */
  color: #333333;
  font-size: 13px;
  font-weight: 500; }
.contactForm .wpcf7-form-control-wrap {
  display: block;
  margin-bottom: 10px; }
.contactForm div.wpcf7 {
  /*padding: 0 10px;*/ }
.contactForm div.wpcf7-validation-errors {
  border: none;
  text-align: center;
  color: red; }
.contactForm span.wpcf7-not-valid-tip {
  font-size: 12px; }
.contactForm div.wpcf7-mail-sent-ok {
  border: none;
  text-align: center;
  color: green; }
.contactForm span.wpcf7-list-item {
  margin: 0; }
.contactForm--estimate .row {
  margin-bottom: 20px; }
.contactForm--estimate textarea {
  height: 150px; }
@media screen and (max-width: 767px) {
  .contactForm .heading {
    font-size: 28px; }
  .contactForm--estimate .row {
    margin-bottom: 0; } }

.warranty-help-section .inner-wrapper {
  display: table;
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
  background-color: #fafbfb;
  text-align: center;
  font-family: 'proxima_nova_ltsemibold';
  text-transform: uppercase; }
  .warranty-help-section .inner-wrapper .content {
    display: table-cell;
    vertical-align: middle; }
  .warranty-help-section .inner-wrapper i {
    font-size: 50px;
    margin-bottom: 15px; }
  .warranty-help-section .inner-wrapper:hover {
    background-color: #333333;
    color: #fff; }

.brand-section {
  border-top: 1px solid #f0f0f0; }
  .brand-section li {
    display: inline-block;
    width: 20%;
    padding: 60px 0;
    float: left;
    text-align: center; }

.brand_logo_container {
  border-top: 1px solid #eff0f1;
  margin-top: 40px;
  padding-top: 30px; }

.list-inline {
  text-align: center; }

.list-inline > li {
  padding: 0 45px; }

@media screen and (min-width: 992px) and (max-width: 1090px) {
  .list-inline > li {
    padding: 0 25px; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  .list-inline > li {
    padding: 0 3px; } }
@media screen and (min-width: 320px) and (max-width: 767px) {
  .list-inline > li {
    padding: 0px 25px 15px 25px; } }
.page-template-page-service .section-repair-menufacture .img-wrapper {
  height: 285px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
.page-template-page-service .section-repair-menufacture .content-wrapper {
  min-height: 225px; }
  .page-template-page-service .section-repair-menufacture .content-wrapper h3 {
    margin: 0 0 20px; }
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .page-template-page-service .section-repair-menufacture .img-wrapper {
    height: 310px; } }
@media screen and (max-width: 991px) {
  .page-template-page-service .section-repair-menufacture .img-wrapper {
    margin-bottom: 20px; } }
.page-template-page-service .brandsTab-section .image-box {
  width: 100%;
  height: 50px;
  /*background-color: red;*/
  display: inline-block;
  position: relative;
  vertical-align: middle; }
  .page-template-page-service .brandsTab-section .image-box .image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    /*background-color: green;*/
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .page-template-page-service .brandsTab-section .image-box .image.hover {
      opacity: 0; }
.page-template-page-service .brandsTab-section .model-list li {
  width: 25%;
  padding: 10px 0;
  float: left;
  display: block;
  padding-left: 25px;
  background: url("../images/icons/li-icon.png") no-repeat left center; }
  .page-template-page-service .brandsTab-section .model-list li:hover, .page-template-page-service .brandsTab-section .model-list li:focus {
    color: #c2151c;
    background-image: url("../images/icons/li-icon-red.png"); }
.page-template-page-service .brandsTab-section .nav-tabs {
  border-bottom: 5px solid #c50f16; }
  .page-template-page-service .brandsTab-section .nav-tabs > li {
    width: 20%;
    border: none; }
    .page-template-page-service .brandsTab-section .nav-tabs > li a {
      padding: 15px 15px;
      border: none;
      border-radius: 3px 3px 0 0; }
    .page-template-page-service .brandsTab-section .nav-tabs > li.active a, .page-template-page-service .brandsTab-section .nav-tabs > li.active a:hover, .page-template-page-service .brandsTab-section .nav-tabs > li.active a:focus {
      background-color: #c50f16; }
    .page-template-page-service .brandsTab-section .nav-tabs > li.active .image-box .image {
      opacity: 0; }
      .page-template-page-service .brandsTab-section .nav-tabs > li.active .image-box .image.hover {
        /*background-color: red;*/
        opacity: 1; }
.page-template-page-service .brandsTab-section .tab-content {
  padding: 40px 0 40px 40px;
  background-color: #f5f5f5;
  overflow: auto; }
@media screen and (max-width: 1200px) {
  .page-template-page-service .brandsTab-section .image-box .image {
    background-size: contain; }
  .page-template-page-service .brandsTab-section .model-list li {
    width: 33%; } }
@media screen and (max-width: 992px) {
  .page-template-page-service .brandsTab-section .model-list li {
    width: 50%; } }
@media screen and (max-width: 767px) {
  .page-template-page-service .brandsTab-section .model-list {
    padding: 0; }
    .page-template-page-service .brandsTab-section .model-list li {
      width: 100%; } }

.how-can-we-help-inner {
  margin-top: 40px;
  margin-bottom: 50px; }
  .how-can-we-help-inner h2 {
    text-align: center;
    font-size: 30px; }
  .how-can-we-help-inner p {
    text-align: center; }
  .how-can-we-help-inner .help-p1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px; }

.choose-us-inner {
  margin-top: 40px;
  margin-bottom: 50px; }
  .choose-us-inner h2 {
    text-align: center;
    font-size: 30px; }
  .choose-us-inner .help-p1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 80px;
    text-align: center; }
  .choose-us-inner .choose-us-img-p {
    text-align: center; }
  .choose-us-inner .thumbnail > img {
    margin-top: 15px; }
  .choose-us-inner .container {
    width: 75%; }
  .choose-us-inner .caption {
    display: table;
    width: 100%;
    text-align: center; }
  .choose-us-inner .choose-us-img-p {
    height: 120px;
    display: table-cell;
    vertical-align: middle; }

/*
About us
*/
.our-team-slider .our_team_wrapper {
  height: 510px;
  background-size: cover;
  background-repeat: no-repeat; }
.our-team-slider .carousel-control {
  background-repeat: no-repeat;
  margin-top: -35px;
  height: 70px;
  bottom: auto;
  top: 50%;
  width: 70px; }
  .our-team-slider .carousel-control.right {
    right: 25px; }
  .our-team-slider .carousel-control.left {
    left: 25px; }

@media screen and (min-width: 1281px) {
  .choose-us-inner .container {
    width: 100%; }

  .choose-us-img-p {
    height: 100px; } }
@media screen and (min-width: 1091px) and (max-width: 1280px) {
  .choose-us-inner .container {
    width: 100%; }

  .choose-us-img-p {
    height: 100px; } }
@media screen and (min-width: 992px) and (max-width: 1090px) {
  .choose-us-inner .container {
    width: 100%; }

  .choose-us-img-p {
    height: 200px; }

  .custom-col-md-3 {
    padding-right: 0px; } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  .choose-us-inner .container {
    width: 80%; }

  .choose-us-img-p {
    height: 120px; } }
.section-blog {
  background-color: #f3f3f3;
  padding: 60px 0 70px; }

.block-blog-info {
  margin-bottom: 25px; }
  .block-blog-info__inner {
    background: #fff;
    padding: 20px 20px 0 20px; }
    .block-blog-info__inner .heading {
      font-family: "proxima_nova_ltlight";
      margin: 0;
      text-align: center; }
      .block-blog-info__inner .heading a {
        color: #333; }
        .block-blog-info__inner .heading a:hover {
          color: #c20001; }
    .block-blog-info__inner .blog-info-bar {
      margin: 15px; }
      .block-blog-info__inner .blog-info-bar__inner {
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        margin-bottom: 8px;
        padding: 5px 0px;
        overflow: auto;
        text-align: center; }
      .block-blog-info__inner .blog-info-bar .blog-info-icons {
        padding-right: 7px; }
      .block-blog-info__inner .blog-info-bar .blog-user {
        display: inline-block;
        width: 50%;
        float: left; }
      .block-blog-info__inner .blog-info-bar .blog-date {
        display: inline-block;
        width: 49%;
        text-align: center; }
    .block-blog-info__inner .blog-thumb {
      height: 225px;
      background-size: cover;
      margin-bottom: 10px; }
    .block-blog-info__inner .blog-caption {
      margin-bottom: 10px;
      text-align: justify; }
    .block-blog-info__inner .blog-readmore {
      color: #c20001; }
      .block-blog-info__inner .blog-readmore:hover {
        text-decoration: underline; }

.recent-articles-list li {
  padding: 10px 0;
  line-height: 25px; }

.block-info-date {
  font-size: 12px; }
  .block-info-date i {
    margin-right: 10px; }

.block-blog-social-share__inner {
  display: table;
  /*margin: 8px auto;*/
  padding-top: 5px; }
  .block-blog-social-share__inner a {
    display: table-cell;
    padding: 0 2px; }
.block-blog-social-share--blog-thumb {
  border-top: 1px solid #eee;
  padding: 15px 0; }
  .block-blog-social-share--blog-thumb .block-blog-social-share__inner {
    margin: 0 auto; }

.section-blog-single {
  padding: 30px 0 50px; }
  .section-blog-single .infobar {
    padding: 0 0 20px 0; }
    .section-blog-single .infobar:before, .section-blog-single .infobar:after {
      display: table;
      content: " "; }
    .section-blog-single .infobar:after {
      clear: both; }
  .section-blog-single .social-info-bar {
    float: right; }
  @media screen and (max-width: 992px) {
    .section-blog-single .social-info-bar {
      float: none; } }

.page404-ct {
  background-color: #3c65ac;
  display: table;
  width: 100%; }
  .page404-ct .inner {
    display: table-cell;
    text-align: center;
    color: #fff; }
    .page404-ct .inner h1 {
      font-family: 'proxima_nova_thextrabold';
      font-size: 172px;
      font-weight: bold;
      line-height: 0.7; }
    .page404-ct .inner h6 {
      font-family: 'proxima_nova_thextrabold';
      font-size: 18px;
      font-weight: bold; }
    .page404-ct .inner a {
      font-family: 'proxima_nova_ltsemibold';
      color: #fff; }
    .page404-ct .inner .text1 {
      padding-top: 110px;
      padding-bottom: 70px; }
    .page404-ct .inner .text2 {
      padding-bottom: 65px; }
      .page404-ct .inner .text2 p {
        font-size: 15px; }
      .page404-ct .inner .text2 .f-italic {
        font-style: italic; }
    .page404-ct .inner .btn-go-home {
      padding: 15px 25px;
      border: 1px solid #fff; }
      .page404-ct .inner .btn-go-home:hover {
        background-color: #fff;
        color: #3c65ac; }
    .page404-ct .inner .btn-contact {
      padding: 15px 25px;
      background-color: #c20001;
      margin-left: 50px; }
      .page404-ct .inner .btn-contact:hover {
        color: #c20001;
        background-color: #fff;
        border-color: #c20001; }
    @media only screen and (max-width: 450px) {
      .page404-ct .inner h1 {
        font-size: 120px; }
      .page404-ct .inner .text1 {
        padding-top: 50px;
        padding-bottom: 40px; }
      .page404-ct .inner .text2 {
        padding-bottom: 40px; }
        .page404-ct .inner .text2 p {
          font-size: 12px; }
      .page404-ct .inner .btn-contact {
        margin-left: 20px; } }

/*# sourceMappingURL=app.css.map */
